/*
.jumbotron {
   background:white !important;
}

#main_banner {
    width: 100%;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 2000px;
}

body {
  background-color:  #e6f7ff;
}   */

.non-field-errors li {
  color: red;
}
