{% extends "submit_app/base.html" %}




{% block body_block %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'events' %}"">Events</a></li>
    <li class="breadcrumb-item active" aria-current="page">Feedback</li>
  </ol>
</nav>


<div class="jumbotron">
  <h3>Event Feedback:</h3>
  <br>


    <table class="table table-hover">
      <thead>
        <th scope="col">Feedback for</th>
        <th scope="col">Speaker Topic</th>
        <th scope="col">Polling status</th>
      </thead>

  {% if render_speakers %}

      {% for speaker in render_speakers %}

      <tr>

        <th scope="row">{{ speaker.speakerId }}</th>
        <td> {{ speaker.speakerTopic }} </td>
        {% if speaker.pollingEnabled == True %}
        <td><a href="{% url 'pollspeaker' %}?speakerId={{speaker.speakerId.pk}}"> Enabled</a></td>
        {% else %}
        <td> Closed </td>
        {% endif %}
      </tr>
      {% endfor %}

  {% endif %}

  {% if render_event_feedback_enabled %}
      <th scope="row"><h4>Overall event</h4></th>
      <td>&nbsp;</td>
      <td><a href="{% url 'pollevent' %}">Enabled</a></td>
  {% endif %}

    </table>

    {% if render_event_feedback_enabled is False and render_speakers is False %}
      <h3> No polling enabled at this time for this event</h3>
    {% endif %}


</div>

{% endblock %}
